language: python
python:
  - "2.7"
cache: pip
install:
  - pip install --upgrade pip setuptools wheel
  - pip install --only-binary=numpy,scipy numpy scipy
  - pip install -r test_requirements.txt
script:
  - nosetests